:focus {
    outline: none;
}
@font-face {
    font-family: PTMono;
    src: url(../fonts/pt-mono.regular.ttf);
}
@font-face {
    font-family: DinCondensed;
    src: url(../fonts/DINCondensedCyrillic.ttf);
}
.text-content {
    font-family: PTMono;
    font-size: 20px;
    line-height: 1.5;
    padding: 50px;
}
.text-content div {
    padding-top: 20px;
}
.cover {
    background: url('../images/background.png') center center no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding: 0;
    opacity: 0.9;
}
@media screen and (max-width: 991px) {
    .bottom-row {
        padding: 10px;
    }
    .cover {
        position: relative;
    }
    .cover-content {
        padding: 10px;
    }
    .cover-content .headline {
        margin-top: 60px
    }
}
.cover-content {
    height: 100%;
}
.cover-content .headline {
    color: white;
    font-family: DinCondensed;
    line-height: 1;
    margin-top: 60px
}
h1 {
    font-size: 16em;
    line-height: 1;
}
h2 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-left: 15px;
    margin-top: 0;
}
.white-paper {
    border-color: white;
    border-radius: 0;
    padding: 1em calc(1.44em - 0.14em) 1em 1.44em;
    letter-spacing: 0.14em;
    font-weight: bold;
}
.white-paper:hover {
    background-color: white;
    border-color: white;
}
.icon {
    height: 40px;
    width: 40px;
}
@media screen and (min-width: 992px) {
    .bottom-row {
        position: fixed;
        bottom: 2em;
        margin-left: 15px;
    }
    .cover {
        position: fixed;
    }
    .cover-content {
        padding: 10px;
    }
    .cover-content .headline {
        margin-top: 140px
    }
}
@media screen and (min-width: 400px){
    .icon {
        margin-left: 20px;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(120,140,140,0.2);
}
.countdown {
    padding: 0 !important;
}
.countdown .bloc-time {
  float: left;
  margin-right: 5px;
  text-align: center;
  padding: 0;
}
.countdown .figure {
  position: relative;
    padding-top: 0;
  float: left;
  height: 70px;
  width: 50px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 8px;
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}
.countdown .figure > span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font: normal 3.7em/68px "Lato";
    font-weight: 700;
    color: #333;
}
.countdown .inner-text {
    font: normal 3.7em/68px "Lato";
}
.countdown .figure .top:after, .countdown .figure .bottom-back:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.countdown .figure .top {
  z-index: 3;
  background-color: #f7f7f7;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-transform: perspective(200px);
  -ms-transform: perspective(200px);
  -webkit-transform: perspective(200px);
  transform: perspective(200px);
}
.countdown .figure .bottom {
  z-index: 1;
}
.countdown .figure .bottom:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.02);
}
.countdown .figure .bottom-back {
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
  background-color: #f7f7f7;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
.countdown .figure .bottom-back span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.countdown .figure .top, .countdown .figure .top-back {
  height: 50%;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.countdown .figure .top-back {
  z-index: 4;
  bottom: 0;
  background-color: #fff;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -moz-transform: perspective(200px) rotateX(180deg);
  -ms-transform: perspective(200px) rotateX(180deg);
  -webkit-transform: perspective(200px) rotateX(180deg);
  transform: perspective(200px) rotateX(180deg);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.countdown .figure .top-back span {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}
.wallet img{
    height: 100%;
    width: 100%;
}