@font-face {
    font-family: PTMono;
    src: url(../fonts/pt-mono.regular.ttf);
   }
.text-content {
    font-family: PTMono;
}
.cover {
    background: url('../images/bitcoin.png') center center no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    height: 100%;
}
.cover-content {
    height: 100%;
}