@font-face {
    font-family: PTMono;
    src: url(../fonts/pt-mono.regular.ttf);
}
@font-face {
    font-family: PFDinCondense;
    src: url(../fonts/PFDinCondensedRegular.ttf);
}
.text-content {
    font-family: PTMono;
    font-size: 20px;
    line-height: 1.5;
    /*@media screen and (min-width: 992px) {*/
        /*margin-top: 50rem;*/
    /*}*/
}
.cover {
    background: url('../images/background.png') center center no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media screen and (min-width: 992px) {
        position: fixed;
    }
    @media screen and (max-width: 991px) {
        position: relative;
    }
    height: 100%;
}
.cover-content {
    height: 100%;
    padding: 60px;
}
.cover-content .headline {
    color: white;
    font-family: PFDinCondense;
}
h1 {
    font-size: 15em;
}
h2 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.white-paper {
    border-color: white;
    border-radius: 0;
    padding: 1em calc(1.44em - 0.14em) 1em 1.44em;
    letter-spacing: 0.14em;
}
.icon {
    height: 40px;
    width: 40px;
}
.bottom-row {
    position: fixed;
    bottom: 2em;
}